/* CSS Variable */
:root {
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;
  --colorMain: #5C402B;
  --colorMainDeep: #402E32;
  --colorPoint: #D27B30;
  --colorBase: #FFF6E8;
  --colorBaseDeep: #C8A48C;
  --colorBaseGrey: #EDEDED;
  --colorLightGrey: #F1F1F5;
  --colorGrey: #767676;
  --fontColorBlack: #191919;

  /* font weight*/
  --fontWeightRegular: 400;
  --fontWeightbold: 700;
  --fontWeightTitle: 900;
  
  /* font size*/
  --mobileFontSize: 14px;
  --mobileCoverTitle: 52px;
  --mobileTitleSmall: 18px;
  --mobileTitleLarge: 24px;
  --tabletHeroTitle: 72px;
  --tabletCoverTitle: 64px;
  --browserFontSize: 16px;
  --browserTitleSmall: 21px;
  --browserTitleLarge: 28px;

  /* margin */
  --baseMargin: 8px;
  --mobileGrid: 24px;
  --tabletGrid: 64px;
  /* --browserGrid: 64px; */

  /* contents size */
  --buttonTextMobile: 12px;
  --buttonMobileSize: 48px;
  --buttonBarsSize: 36px;

  --mobileHeaderNavFooterSize: 80px;
  --browserHeaderNavFooterSize: 120px;
  --mobileCoverSize: 88vh;
  --tabletCoverSize: 100vh;

  /* animation duration */
  --duration-basic: 400ms
}


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ol, ul, dl, li, dt, dd {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {font-style: normal;}


/* Settings */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'Noto Sans KR', serif;
  font-size: var(--mobileFontSize);
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  color: var(--fontColorBlack);
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container.on {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: all calc(var(--duration-basic) * 2);
}

/* Menu btn */
.btn-container {
  width: var(--buttonBarsSize);
  height: var(--buttonBarsSize);
  position: fixed;
  top: var(--mobileGrid);
  left: var(--mobileGrid);
  z-index: 100;
}

.menu-btn {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-btn::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -45%;
  left: -50%;
  z-index: -1;
  /* background-color: var(--colorPoint); */
  background-image: url(./components/assets/images/menu-blob.svg);
  background-size: cover;
  border-radius: var(--baseMargin);
  transform: rotate(-45deg);
  transition: all var(--duration-basic);
}
.menu-btn:hover::before {
  transform: scale(1.1);
}

.menu-btn span{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 2px;
  background-color: var(--colorBase);
  transition: all var(--duration-basic);
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 2px;
  background-color: var(--colorBase);
  transition: all var(--duration-basic);
}

.menu-btn span::before {
  top: calc(var(--baseMargin) * -1);
}
.menu-btn span::after {
  top: var(--baseMargin);
}
.container.on .menu-btn::before {
  background-color: transparent;
}
.container.on .menu-btn span {
  background-color: transparent;
}
.container.on .menu-btn span::before,
.container.on .menu-btn span::after {
  top: 50%;
  left: 0;
  background-color: var(--colorPoint);
}
.container.on .menu-btn span::before {
  transform: rotate(45deg);
}
.container.on .menu-btn span::after {
  transform: rotate(-45deg);
}



/* Header */
#main-header {
  width: 100%;
  height: var(--mobileHeaderNavFooterSize);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--mobileGrid);
  transition: all var(--duration-basic);
  overflow: hidden;
}

.header-title {
  font-weight: var(--fontWeightbold);
  text-transform: uppercase;
  color: var(--colorPoint);
}

.container.on .header-title {
  display: none;
}

.container.on #main-header {
  height: 100vh;
  position: fixed;
  background-color: var(--colorBase);
}

.header-nav {
  display: none;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.container.on .header-nav {
  display: flex;
}

.header-nav-list {
  font-size: var(--mobileCoverTitle);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 6);
}
.header-nav-list:last-child {
  margin-bottom: 0;
}
.header-nav-list a:hover {
  color: var(--colorPoint);
}

.project-list {
  font-size: var(--mobileTitleLarge);
  font-weight: var(--fontWeightRegular);
  margin-top: var(--baseMargin);
}
.project-list:hover {
  color: var(--colorMainDeep);
}



/* COMMON */
/* Cover */
.hero-cover,
.about-cover,
.project-cover,
.contact-cover {
  width: 100%;
  height: var(--mobileCoverSize);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorMain);
  background-color: var(--colorBase);
  overflow: hidden;
}


.about-cover {
  color: var(--colorBase);
  background-color: var(--colorBaseDeep);
}

.project-cover {
  color: var(--colorBase);
  background-color: var(--colorMain);
}

.contact-cover {
  color: var(--colorBase);
  background-color: var(--colorPoint);
}

.cover-title {
  font-size: var(--mobileCoverTitle);
  font-weight: var(--fontWeightbold);
}

.cover-desc {
  text-align: center;
  font-weight: var(--fontWeightRegular);
}


/* Nav */
.nav-links {
  display: none;
}

#about,
#projects,
#contact {
  display: block;
}




/* HERO */
.hero-title {
  font-size: var(--mobileCoverTitle);
  line-height: 1.25;
  font-weight: var(--fontWeightbold);
  text-transform: uppercase;
  color: var(--colorMain);
}

.blob1, 
.blob2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100% 100%;
  opacity: 95%;
  animation: rolyPoly 2s infinite alternate;
}
.blob1{
  top: -40%;
  right: -50%;
  background-image: url(./components/assets/images/blob1.svg);
  animation-timing-function: ease-in-out ;
}
.blob2 {
  top: 35%;
  left: -40%;
  background-image: url(./components/assets/images/blob2.svg);
  animation-timing-function: ease-in ;
}

@keyframes rolyPoly {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.title-animation span {
  display: block;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn var(--duration-basic) forwards;
}

.title-animation {
  overflow: hidden;
}

.title-animation span:nth-child(1) {
  animation-delay: var(--duration-basic);
}
.title-animation span:nth-child(2) {
  animation-delay: calc(var(--duration-basic) * 2);
}
.title-animation span:nth-child(3) {
  animation-delay: calc(var(--duration-basic) * 3);
}

.title-animation-fade {
  animation: fadeOut var(--duration-basic) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}


/* About */
/* Motivation */
.motivation {
  padding: calc(var(--baseMargin) * 10) var(--mobileGrid);
}

.motivation-title {
  font-size: var(--mobileTitleSmall);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 4);
}

.motivation-title span {
  display: block;
}

.motivation-desc {
  margin-bottom: calc(var(--baseMargin) * 2);
}

/* Skills */
.skills {
  padding: calc(var(--baseMargin) * 10) var(--mobileGrid);
  background-color: var(--colorBaseGrey);
}

.skills-title {
  font-size: var(--mobileTitleLarge);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 7);
}

.skills-title::before {
  content: "🛠 ";
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  width: 50%;
  margin-bottom: calc(var(--baseMargin) * 5);
}

.skill-item-title {
  font-size: var(--mobileTitleSmall);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 2);
}

.language::before {
  content: "🔤 ";
}
.tools::before {
  content: "⚙️ ";
}
.basic-knowledge::before {
  content: "📂 ";
}
.design-tools::before {
  content: "📐 ";
}

.skill-list {
  color: var(--colorMainDeep);
  margin-bottom: var(--baseMargin);
}


/* PROJECT */
.project {
  width: 100%;
  padding-top: calc(var(--baseMargin) * 10);
}

.project-title {
  text-transform: uppercase;
  font-size: var(--mobileTitleSmall);
  font-weight: var(--fontWeightbold);
  margin-bottom: var(--baseMargin);
}

.project-desc-wrap dl {
  margin-bottom: calc(var(--baseMargin) * 4);
}

.project-point {
  padding: 0 var(--mobileGrid);
  margin-bottom: calc(var(--baseMargin) * 6);
}

.project-name { 
  text-transform: uppercase;
  line-height: 1.25;
}

.project-name span {
  font-weight: var(--fontWeightbold);
}

.project-name h2 {
  font-size: var(--mobileTitleLarge);
  margin-bottom: calc(var(--baseMargin) * 4);
  font-weight: var(--fontWeightTitle);
}

.summary {
  display: flex;
  margin-bottom: calc(var(--baseMargin) / 2);
  font-size: var(--browserFontSize);
}

.summary-p span {
  display: inline-block;
}

.summary-title {
  font-weight: var(--fontWeightbold);
  margin-right: calc(var(--baseMargin) * 2);
}

.project-link-lists {
  display: inline-block;
  vertical-align: text-top;
}

.project-link-list {
  margin-bottom: calc(var(--baseMargin));
}

.project-link {
  font-weight: var(--fontWeightbold);
  color: var(--colorPoint);
  border-bottom: 2px solid var(--colorPoint);
}

.project-img-wrap {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.project-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 130%;
}

.project-intro, 
.project-function {
  padding: calc(var(--baseMargin) * 6) var(--mobileGrid);;
}
.project-intro {
  background-color: var(--colorBase);
}
.project-function {
  background-color: var(--colorBaseGrey);
}

.project-desc {
  margin-bottom: calc(var(--baseMargin) * 4);
}

.project-desc li {
  margin-bottom: calc(var(--baseMargin) * 1);
}

.project-desc-wrap h3 {
  font-size: var(--mobileTitleSmall);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 4);
}

.project-desc-wrap h4 {
  font-size: var(--browserFontSize);
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 1);
}

.project-desc-wrap p {
  margin-bottom: calc(var(--baseMargin) * 2);
}




/* CONTACT */
.contact-contents {
  width: 100%;
  padding: calc(var(--baseMargin) * 10) var(--mobileGrid);
}

.nametag {
  font-weight: var(--fontWeightbold);
  margin-bottom: calc(var(--baseMargin) * 6);
}

.name {
  font-size: var(--mobileTitleSmall);
}

.department {
  color: var(--colorPoint);
}

.address-container {
  margin-bottom: calc(var(--baseMargin) * 6);
}

.address-item {
  margin-bottom: calc(var(--baseMargin) * 3);
}

.address-item-title {
  display: block;
  font-size: var(--mobileTitleSmall);
  font-weight: var(--fontWeightbold);
}

.address-item a {
  display: block;
  color: var(--colorPointDeep);
}

.address-item.email > a {
  font-weight: var(--fontWeightbold);
  text-decoration: underline;
}

.address-item.tel > .address-item-title::before {
  content: "📞 ";
}
.address-item.email > .address-item-title::before {
  content: "📬 ";
}
.address-item.github > .address-item-title::before {
  content: "⛳️ ";
}
.address-item.notion > .address-item-title::before {
  content: "📔 ";
}

.resume {
  display: inline-block;
  color: var(--colorWhite);
  padding: var(--baseMargin) calc(var(--baseMargin) * 3);
  border-radius: var(--baseMargin);
  background-color: var(--colorMain);
}

.resume > span::after {
  content: " 📄 ";
}


/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--mobileHeaderNavFooterSize);
  background-color: var(--colorLightGrey);
}

#footer b {
  color: var(--colorMain);
}



@media screen and (min-width: 768px) {
  .menu-bars {
    display: none;
  }

  /* Nav-link */
  .nav-links {
    display: block;
    width: 90%;
    height: var(--mobileHeaderNavFooterSize);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 50;
  }
  .nav-links ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-link {
    font-weight: var(--fontWeightbold);
    text-transform: uppercase;
    color: var(--colorMain);
    transition: color var(--duration-basic);
  }
  .nav-link:hover {
    color: var(--colorPoint);
  }

  .about-cover .nav-link,
  .project-cover .nav-link,
  .contact-cover .nav-link {
    color: var(--colorBase);
  }
  .about-cover .nav-link:hover,
  .project-cover .nav-link:hover {
    color: var(--colorPoint);
  }
  .contact-cover .nav-link:hover {
    color: var(--colorMain);
  }

  .hero-title {
    font-size: var(--tabletHeroTitle);
  }

  .cover-title {
    font-size: var(--tabletCoverTitle);
  }
  .hero-cover,
  .about-cover,
  .project-cover,
  .contact-cover,
  .contact-contents {
    height: var(--tabletCoverSize);
  }

  #about,
  #projects,
  #contact {
    display: flex;
  }

  .about-cover,
  .project-cover,
  .contact-cover {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 50%;
  }
  .about-articles,
  .project-articles,
  .contact-contents {
    width: 50%;
  }

  #main-header {
    padding: 0 var(--tabletGrid);
  }

  .blob1 {
    top: -30%;
    right: -45%;
  }

  .blob2 {
    top: 20%;
    left: -50%;
  }
  
  .motivation,
  .skills,
  .contact-contents {
    padding: calc(var(--baseMargin) * 20) var(--tabletGrid);
  }

  .project-point {
    padding: 0 var(--tabletGrid);
  }

  .project-intro, 
  .project-function {
    padding: calc(var(--baseMargin) * 10) var(--tabletGrid);
  }


}

@media screen and (min-width: 1440px) {
  body {
    font-size: var(--browserFontSize);
  }
  
  .motivation-title,
  .skill-item-title,
  .project-title,
  .address-item-title,
  .name,
  .project-title,
  .project-desc-wrap h3 {
    font-size: var(--browserTitleSmall);
  }

  .skills-title,
  .project-name h2  {
    font-size: var(--browserTitleLarge);
  }


  #main-header,
  .nav-links,
  #footer {
    height: var(--browserHeaderNavFooterSize);
  }

  .nav-links {
    max-width: 50%;
  }

  .project-img-wrap {
    height: 600px;
  }
  
  .project-img {
    top: -10%;
    height: 150%;
  }
}